<a href="https://colab.research.google.com/github/nehaiitr/LightFM-Recommender-system/blob/main/LightFM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
products= pd.read_csv('/content/drive/MyDrive/products_train.csv')
sessions = pd.read_csv('/content/drive/MyDrive/sessions_train.csv')

In [ ]:
products

,id,locale,title,price,brand,color,size,model,material,author,desc
0,B005ZSSN10,DE,RED DRAGON Amberjack 3 - Steel Tip 22 Gramm Wo...,30.95,RED DRAGON,NaN,NaN,RDD0089,NaN,NaN,Amberjacks Steel Dartpfeile sind verf√ºgbar in ...
1,B08PRYN6LD,DE,Simply Keto Lower Carb* Schokodrops ohne Zucke...,17.90,Simply Keto,NaN,750 g (1er Pack),NaN,NaN,NaN,üå± NAT√úRLICHE S√úSSE DURCH ERYTHRIT - Wir stelle...
2,B09MBZJ48V,DE,"Sennheiser 508377 PC 5.2 Chat, Stilvolles Mult...",68.89,Sennheiser,Multi-Colour,One size,508377,Kunstleder,NaN,3.5 MM BUCHSE - Kann problemlos an Ger√§te mit ...
3,B08ZN6F26S,DE,AmyBenton Auto ab 1 2 3 ahre - Baby Aufziehbar...,18.99,Amy & Benton,Animal Car,NaN,2008B,aufziehauto 1 jahr,NaN,„ÄêAuto aufziehbar„Äë: Dr√ºcken Sie einfach leicht ...
4,B094DGRV7D,DE,PLAYMOBIL - 70522 - Cavaliere mit grauem Pony,7.17,PLAYMOBIL,Nicht Zutreffend.,OneSize,70522,Polypropylen,NaN,Inhalt: 1 St√ºck
...,...,...,...,...,...,...,...,...,...,...,...
1551052,B09BW5CDRR,IT,Barbie - Playset Gelateria con Bambola con Mac...,20.48,Barbie,NaN,NaN,HCN46,NaN,NaN,DETTAGLI REALISTICI. Basta inserire la pasta m...
1551053,B0050IILBM,IT,"Braun Silk-√©pil 1 Depilatore Donna, Epilatore ...",22.61,Braun,Pink,NaN,4210201656067,NaN,NaN,Alimentato a corrente per un comodo utilizzo
1551054,B07W4C5W9D,IT,BoxLegend Sacchetti Sottovuoto Vestiti 6 Pezzi...,14.99,BoxLegend,6 Pezzi.,6 Pezzi (2L + 2M + 2S),6186666487608_SML,Polietilene Ppa,NaN,6 Sacchetti in 3 Diverse Misure- Questo set di...
1551055,B012D0HJXA,IT,Trasportino Pratiko Metal - Accessorio da viag...,18.35,MPS,verde,NaN,NaN,Metallo,NaN,TRASPORTINO 48X31.5X33CM
1551056,B07P5RLXP3,IT,"LiCB - Batterie LR1130, batterie alcaline AG10...",6.99,LiCB,NaN,20 St√ºck LR1130,LR1130-20,NaN,NaN,Denominazione: 20 pezzi di pile alcaline LR113...

In [ ]:
sessions

                                                prev_items   next_item locale
0                              ['B09W9FND7K' 'B09JSPLN1M']  B09M7GY217     DE
1        ['B076THCGSG' 'B007MO8IME' 'B08MF65MLV' 'B001B...  B001B4THSA     DE
2        ['B0B1LGXWDS' 'B00AZYORS2' 'B0B1LGXWDS' 'B00AZ...  B0767DTG2Q     DE
3        ['B09XMTWDVT' 'B0B4MZZ8MB' 'B0B7HZ2GWX' 'B09XM...  B0B4R9NN4B     DE
4                 ['B09Y5CSL3T' 'B09Y5DPTXN' 'B09FKD61R8']  B0BGVBKWGZ     DE
...                                                    ...         ...    ...
3606244           ['B086CYFSKW' 'B0874F9859' 'B086CYFSKW']  B07B5TYD76     IT
3606245                        ['B09NRZKZ7V' 'B08WJTPV93']  B08L1P4C3D     IT
3606246                        ['B085JFX7MP' 'B085JGHW8R']  B01MPWVD44     IT
3606247                        ['B00B0UING2' 'B00B0UING2']  B00D3HYEZ4     IT
3606248  ['B092S9D1SD' 'B09XQQ1S72' 'B0852MS7QC' 'B0B1V...  B0B7RX65YP     IT

[3606249 rows x 3 columns]

In [ ]:
#dictionary mapping respective integers to product id
id2prod= products['id'].to_dict()

In [ ]:
#dictionary mapping product ids to respective integers
prod2id= {v: k for k, v in id2prod.items()}

In [ ]:
#function to clean dataframe text

def tokenize(str):
  str= str[1:-1]
  str= str.replace('\n','')
  import string
  exclude = set(string.punctuation)
  py_str = ''.join(ch for ch in str if ch not in exclude)
  str= py_str.replace(" ","")
  n = 10
  res = [str[i:i + n] for i in range(0, len(str), n)]

  return res

In [ ]:
sessions['prev_items']= sessions['prev_items'].apply(tokenize)

In [ ]:
sessions['next_item']= sessions['next_item'].map(prod2id)

In [ ]:
for i in range(0, 3606249):
  result = [prod2id[elem] for elem in sessions['prev_items'][i]]
  sessions['prev_items'][i] = result

In [ ]:
sessions

                                                prev_items  next_item locale
0                                       [1462614, 1468610]     387776     DE
1                              [38788, 85634, 4132, 71046]     335301     DE
2        [191882, 516876, 191882, 516876, 191882, 19188...      90141     DE
3        [1221413, 261145, 31496, 1221413, 261145, 3149...     214540     DE
4                                   [291068, 410614, 4219]     338089     DE
...                                                    ...        ...    ...
3606244                        [1544395, 1522986, 1544395]    1538245     IT
3606245                                 [1545622, 1527621]    1528070     IT
3606246                                 [1542812, 1521029]    1509602     IT
3606247                                 [1549158, 1549158]    1502045     IT
3606248               [1545898, 1518359, 1540487, 1548330]    1515021     IT

[3606249 rows x 3 columns]

In [ ]:
from scipy import sparse

In [ ]:
#matrx to store user item interaction

from scipy.sparse import dok_matrix
matrix= dok_matrix((3606249, 1551057))

In [ ]:
for i in range(0, 3606249):
  for j in range(0, len(sessions['prev_items'][i])):
    matrix[i, sessions['prev_items'][i][j]]+= 1

matrix= matrix.tocsr()

In [ ]:
matrix

<3606249x1551057 sparse matrix of type '<class 'numpy.float64'>'
	with 12872871 stored elements in Compressed Sparse Row format>

In [ ]:
sessions_test = pd.read_csv('/content/drive/MyDrive/sessions_test_task1_phase1.csv')

In [ ]:
sessions_test['prev_items']= sessions_test['prev_items'].apply(tokenize)

In [ ]:
sessions_test

                                               prev_items locale
0       [1522559, 1514179, 236816, 1534361, 1505791, 2...     DE
1                                [136109, 425018, 425018]     DE
2                           [36017, 46492, 511894, 46492]     DE
3       [52581, 387953, 387953, 507424, 224806, 52581,...     DE
4       [371901, 388062, 1506830, 1535274, 1449008, 14...     DE
...                                                   ...    ...
316966                                 [1105511, 1292644]     UK
316967      [1234079, 1266501, 1234079, 1266501, 1360668]     UK
316968  [1461108, 1461778, 1461108, 1461778, 1488606, ...     UK
316969                                 [1514545, 1150445]     UK
316970                        [1134618, 1505248, 1265489]     UK

[316971 rows x 2 columns]

In [ ]:
for i in range(0, 316971):
  result = [prod2id[elem] for elem in sessions_test['prev_items'][i]]
  sessions_test['prev_items'][i] = result

In [ ]:
from scipy.sparse import dok_matrix
matrix_test= dok_matrix((316971, 1551057))

In [ ]:
for i in range(0, 316971):
  for j in range(0, len(sessions_test['prev_items'][i])):
    matrix_test[i, sessions_test['prev_items'][i][j]]+= 1

matrix_test= matrix_test.tocsr()

In [ ]:
matrix_test

<316971x1551057 sparse matrix of type '<class 'numpy.float64'>'
	with 1114880 stored elements in Compressed Sparse Row format>

In [ ]:
#I'm using the LightFM model to perform hybrid recommendation

In [ ]:
!pip install lightfm

In [ ]:
from lightfm import LightFM

In [ ]:
model = LightFM(learning_rate=0.05, loss='warp')

model.fit_partial(matrix, epochs=50)

In [ ]:
n_users, n_items = matrix_test.shape

In [ ]:
def prediction(user_id):

  scores = model.predict(user_id, np.arange(n_items))
  top items = np.argsort(-scores)

In [ ]:
#prediction of next 10 items for first 10 users
listComp = [(products['id'][np.argsort(-(model.predict(i, np.arange(n_items))))][0:10]).tolist() for i in range(0, 10)]

In [ ]:
listComp

[['B07N8QY3YH',
  'B01MXLEVR7',
  'B07H27J698',
  'B077B9X3SB',
  'B00E3862DE',
  'B09CDT23ZV',
  'B09539827B',
  'B07X4YNHHW',
  'B09QFPZ9B7',
  'B01N40PO2M'],
 ['B07RHT52HX',
  'B01MXLEVR7',
  'B00HZV9WTM',
  'B098B8PFXY',
  'B0BD5MFPMF',
  'B00HZV9YE0',
  'B07S829LBX',
  'B01NCX3W3O',
  'B014I8SSD0',
  'B00CWNMV4G'],
 ['B014I8SSD0',
  'B0B9V3B882',
  'B013ICNQLQ',
  'B014I8SIJY',
  'B087BN4NG2',
  'B0B7WVWRR6',
  'B07T1Y9TWH',
  'B0B8S4JDPZ',
  'B09SHPWGG4',
  'B09SWQ6G3S'],
 ['B08CN3G4N9',
  'B09Q934288',
  'B09BZR9JFG',
  'B07RP7WHHY',
  'B0991FVFQJ',
  'B09QFJNDQX',
  'B09QFPZ9B7',
  'B0B6FLPH73',
  'B0BD3XQ9RQ',
  'B0B7HZ2GWX'],
 ['B07RHT52HX',
  'B07PMQDWVP',
  'B06Y12PQJ8',
  'B07PMR72ZG',
  'B07SYYQ374',
  'B01NCX3W3O',
  'B014I8SSD0',
  'B0B7JYQGSQ',
  'B07NWWLP5S',
  'B01LWQ3DQ8'],
 ['B07WD58H6R',
  'B0067JIT88',
  'B095J8MGHQ',
  'B072C41LF1',
  'B01GH03YRM',
  'B00BQPFK8A',
  'B08PT4XZFQ',
  'B077B9X3SB',
  'B084CKR6VP',
  'B01MG62Z5M'],
 ['B0B19YG4MB',
  'B09VKWL89R',
  'B09VKWKZ16',
  'B01CG0TO76',
  'B08DQYMNV1',
  'B098B8PFXY',
  'B01N4ND0F9',
  'B098B79SJL',
  'B09D3TH5R5',
  'B08N3TCP2F'],
 ['B09SWS16W6',
  'B09366VZ5J',
  'B0935JRJ59',
  'B09SWTJZH6',
  'B0B61MQD58',
  'B09DZ121YC',
  'B0B8NNHR5N',
  'B078JBHS86',
  'B07SYYQ374',
  'B08H93ZRK9'],
 ['B0BD5MFPMF',
  'B014I8SSD0',
  'B088FSHMQ3',
  'B09Y5HH44X',
  'B01N40PO2M',
  'B08GWS298V',
  'B08LJRYBP2',
  'B0B8NNHR5N',
  'B082T6DHB6',
  'B0BD88WWQ8'],
 ['B08LSNJQ1N',
  'B07XKBLL8F',
  'B00NTCH52W',
  'B00NTCHCU2',
  'B08LSL593L',
  'B07KWYGTC6',
  'B01B8R6PF2',
  'B08D7WGLWN',
  'B07XKDN31X',
  'B0BCKJNP32']]